<!DOCTYPE html>
<html>
  <head>
    <title>UnivApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      .dropdown-cntnt {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-cntnt a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }

      .dropdown-cntnt a:hover {
        background-color: #ddd;
      }

      .show {
        display: block;
      }
      </style>

  </head>

  <body>
    <header>
      <nav>
        <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">Logo</a>
            <ul class="left hide-on-med-and-down">
              <li><a href="#home">Home</a></li>
              <li><a href="#news">About</a></li>
              <li><a class="dropbtn dropdown-trigger" data-target="dmyDropdown" onclick="myFunction()">Account
                    <i class="material-icons right">arrow_drop_down</i></a>
                <div class="dropdown-cntnt" id="myDropdown">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
              </li>
            </ul>
        </div>
        </div>
      </nav>
      <script>
      /* When the user clicks on the button,
      toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {
          var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
              myDropdown.classList.remove('show');
            }
          }
        }
      </script>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Tech University</h5>
                <p class="grey-text text-lighten-4">The future of development training</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Information</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Tech University
            <a class="grey-text text-lighten-4 right" href="#!">About</a>
            </div>
          </div>
        </footer>

  </body>
</html>
